@use "./variables.scss";
//Очистим все отступы и границы
* {
  padding: 0;
  margin: 0;
  border: 0;
}

//Меняет подсчет ширины блока так, чтобы было удобнее верстать
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//Убираем линии обводки у некоторых браузеров
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

//Делаем перечисленные теги блочными
nav,
footer,
header,
aside,
article,
section,
main {
  display: block;
}

//Уравниваем поведение шрифтов и элементов для разных браузеров, запрещает самовольное увеличение шрифта на айфонах
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

//Просим теги наследовать семейство шрифта
input,
button,
textarea {
  font-family: inherit;
}

//Убираем некоторые особенности в разных браузерах, убирают крестик в инпутах в IE, убирают лишние отступы в FireFox для кнопок, чистятся стили маркированных списков
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

//Обнуляем все заголовки
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.row {
  display: flex;
  margin-bottom: 16px;
}
.col {
  flex: 1 1 50%;
  width: 50%;

  &:not(:last-child) {
    margin-right: 16px;
    width: calc(50% - 8px);
  }

  &-small {
    flex: 1 1 5%;
    width: 5%;
  }
}
.label {
  font-size: 13px;
  padding-bottom: 4px;
}
.subtitle {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: variables.$violet;
}
.w-100 {
  width: 100%;
}
.align-items-flex-end {
  align-items: flex-end;
}
